
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>WebIM-DEMO</title>
<script type="text/javascript" src="jquery-1.11.1.js"></script>
<script type="text/javascript" src="strophe-custom-2.0.1.js"></script>
<script type="text/javascript" src="json2.js"></script>
<script type="text/javascript" src="easemob.im-1.0.7.js"></script>
<script type="text/javascript" src="bootstrap.js"></script>

</head>
<body>
	<!-- 注册操作界面 -->
	<table>
		<div class="modal-header">
			<h3>用户注册</h3>
		</div>
		<div class="modal-body">
			<div id="regist_div" style="overflow-y: auto">
				<table>
					<tr>
						<td width="65%"><label>用户名:</label> <input type="text"
							value="" id="regist_username" tabindex="1" /> <label>密码:</label>
							<input type="password" value="" id="regist_password" tabindex="2" />
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="modal-footer">
			<button id="confirm-regist-confirmButton" class="btn btn-primary"
				onclick="regist()">完成</button>
		</div>
	</table>
<!-- 注册操作界面 -->
</body>

<script type="text/javascript">
	var xmppURL = null;
	var apiURL = null;
	var curUserId = null;
	var curChatUserId = null;
	var conn = null;
	var curRoomId = null;
	var msgCardDivId = "chat01";
	var talkToDivId = "talkTo";
	var talkInputId = "talkInputId";
	var fileInputId = "fileInput";
	var bothRoster = [];
	var toRoster = [];
	var maxWidth = 200;
	var groupFlagMark = "group--";
	var groupQuering = false;
	var textSending = false;
	var appkey = "1180161208115132#xiaolian";
	var time = 0;

		//easemobwebim-sdk注册回调函数列表
	$(document).ready(function() {
		conn = new Easemob.im.Connection();
	});
		//注册新用户操作方法
	var regist = function() {
		var user = $("#regist_username").val();
		var pass = $("#regist_password").val();
		var nickname = $("#regist_nickname").val();
		if (user == '' || pass == '') {
			alert("你的聊天功能出现问题，请联系公众号管理员");
			return;
		}
		var options = {
			username : user,
			password : pass,
			nickname : nickname,
			appKey : appkey,
			success : function(result) {
				alert("注册成功!");
				
			},
			error : function(e) {
				alert(e.error);
			},
			apiUrl : apiURL
		};
		Easemob.im.Helper.registerUser(options);
	};
</script>
</html>