
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="allNewses.html">新闻管理</a><span class="crumb-step">&gt;</span><span>查看新闻</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="/jscss/admin/design/add" method="post" enctype= "multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                        <tr>
                            <td>
                                <h1 style="font-size: 26px" align="center">{$result.tltitle}</h1>
                                <p style="font-size: 12px" align="center">发布时间：{$result.tladdtime}</p>
                                <img src="__PUBLIC__/{$result.tlimage}" alt="picture">
                                <p>{$result.tlcontent}</p>
                            </td>
                        </tr>
                        </tbody></table>
                </form>
            </div>
        </div>
