<!DOCTYPE html>
<html>
<head>
  <title>校脸圈动态内容详情页</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

  <link rel="stylesheet" href="__PUBLIC__/lib/weui.min.css">
  <link rel="stylesheet" href="__PUBLIC__/css/jquery-weui.css">
  <link rel="stylesheet" href="__PUBLIC__/css/demos.css">
  <style type="text/css">
    .the_plus{
      position: absolute;
      bottom: 80px;
      left: 80%;
    }
    .weui_media_title{
      color:#29b6f6;
    }
    .swiper-container {
        width: 100%;
      } 

    .swiper-container img {
        display: block;
        width: 100%;
      }
      .back{
      position: fixed;
      top: 10%;
      left: 5%;
    }
    .xiayipian{
      position: absolute;
      bottom: 0px;
      width: 100%;
    }
  </style>
</head>

<body ontouchstart>
<div class="weui_tab_bd">
<!--weui_tab_bd界面开始-->
  <!--在这里写主体的代码-->
  <!--说说详情开始-->
  <!--微信昵称，说说文字内容开始-->
  <div class="weui_panel weui_panel_access">
    <div class="weui_panel_bd">
      <div class="weui_media_box weui_media_text">
        <!--当前为moments/detail，点击返回超链接跳转到moments/index-->
        <div class="back">
          <a href="{:U('moments/index')}"><img src="__PUBLIC__/images/back.png" alt=""></a>
        </div>
        <!--{$art.xlatitle}是展示校脸圈动态标题-->
        <h2 class="weui_media_title" style="font-size:24px;">{$art.xlatitle}</h2>
        <ul class="weui_media_info">
          <!--{$art.xlaaddtime}是展示校脸圈动态发表时间-->
          <li class="weui_media_info_meta">{$art.xlaaddtime}</li>
          <!--{$art.xlaauthor}是展示校脸圈动态的作者-->
          <li class="weui_media_info_meta weui_media_info_meta_extra">{$art.xlaauthor}</li>
        </ul>
        <br1/>
        <!--{$art.xlacontent}是展示校脸圈动态内容-->
        <p style="font-size:17px;color:#999">{$art.xlacontent}</p>
      </div>
    </div>
    <!--微信昵称，.说说文字内容结束-->
    <!--图片开始-->
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><img src="__PUBLIC__/images/swiper-11.jpg" /></div>
        <div class="swiper-slide"><img src="__PUBLIC__/images/swiper-22.jpg" /></div>
        <div class="swiper-slide"><img src="__PUBLIC__/images/swiper-33.jpg" /></div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <!--图片结束-->
    <!--评论开始-->
    <div class="weui_panel">
      <div class="weui_panel_hd">评论列表</div>
      <!--因为评论列表中的评论可能有多条，所以用volist-->
      <volist name="artc" id="va">
        <div class="weui_panel_bd">
          <div class="weui_media_box weui_media_text">
            <h4 class="weui_media_title">评论111111</h4>
            <p style="color:#999">{$va.xlaccomment}</p>
            <ul class="weui_media_info">
              <li class="weui_media_info_meta">{$va.xlacaddtime}</li>
              <li class="weui_media_info_meta weui_media_info_meta_extra">{$va.xlacnickname}</li>
            </ul>
          </div>
        </div>
      </volist>
      </div>
      <!--评论结束-->
      <!--说说详情结束-->
  </div>
  <!--下一篇+评论开始-->
  <div class="weui-row weui-no-gutter xiayipian">
    <div class="weui-col-50">
      <a href="{:U('moments/detail',array('id'=>$nextid))}" class="weui_btn close-popup
          weui_btn_primary">下&nbsp;&nbsp;一&nbsp;&nbsp;篇
      </a>
    </div>
    <div class="weui-col-50">
      <a href="{:U('moments/comment',array('id'=>$art['xlaid']))}" class="weui_btn close-popup weui_btn_primary">评&nbsp;&nbsp;论
      </a>
    </div>
  </div>
  <!--下一篇+评论结束-->
  <!--在这里写主体的代码结束-->
</div>
<!--weui_tab_bd界面结束-->
<script src="__PUBLIC__/lib/jquery-2.1.4.js"></script>
<script src="__PUBLIC__/lib/fastclick.js"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script>

<script src="__PUBLIC__/js/jquery-weui.js"></script>

<script src="__PUBLIC__/js/swiper.js"></script>
<script>
  $(document).on("open", ".weui-popup-modal", function() {
    console.log("open popup");
  }).on("close", ".weui-popup-modal", function() {
    console.log("close popup");
  });
</script>
<script>
$(".swiper-container").swiper({
  loop: true,
  autoplay: 3000
});
</script>
  </body>
</html>
